
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: portainer
  namespace: portainer
spec:
  entryPoints:
  - websecure
  routes:
  - kind: Rule
    match: Host(`portainer.k8s.lab.lemisieur.com`)
    services:
    - name: portainer
      port: 8000