apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: homepage
  namespace: argocd
spec:
  project: homepage
  sources:
    - repoURL: https://github.com/lemisieur-services/homelab.git
      targetRevision: main
      path: k8s/traefik/certs
    - repoURL: https://github.com/lemisieur-services/homelab.git
      targetRevision: main
      path: k8s/homepage
  destination:
    server: https://kubernetes.default.svc
    namespace: homepage
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
      allowEmpty: true