apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: homepage
  namespace: argocd
spec:
  project: gitops
  source:
    repoURL: https://github.com/lemisieur-services/homelab.git
    targetRevision: main
    path: k8s/homepage
  destination:
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      enabled: true
    syncOptions:
      - CreateNamespace=true