apiVersion: v1
kind: ConfigMap
metadata:
  name: oauth2-proxy-config
data:
  OAUTH2_PROXY_PROVIDER: "entra-id"
  OAUTH2_PROXY_SCOPE: "openid profile email"
  OAUTH2_PROXY_EMAIL_DOMAINS: "*"
  OAUTH2_PROXY_UPSTREAMS: "static://200"
  OAUTH2_PROXY_HTTP_ADDRESS: "0.0.0.0:4180"
  OAUTH2_PROXY_PASS_AUTHORIZATION_HEADER: "false"
  OAUTH2_PROXY_SET_AUTHORIZATION_HEADER: "false"
  OAUTH2_PROXY_PASS_ACCESS_TOKEN: "true"
  OAUTH2_PROXY_COOKIE_SECURE: "false"
  OAUTH2_PROXY_COOKIE_SAMESITE: "lax"
  OAUTH2_PROXY_COOKIE_REFRESH: "1h"
  OAUTH2_PROXY_COOKIE_EXPIRE: "8h"
  OAUTH2_PROXY_SKIP_PROVIDER_BUTTON: "false"