apiVersion: v1
kind: ConfigMap
metadata:
  name: oauth2-proxy-config
data:
  oauth2_proxy.yml: |-
    server:
      BindAddress: "0.0.0.0:4180"

    providers:
      - id: entraid
        provider: oidc
        clientID: "${OAUTH2_PROXY_CLIENT_ID}"
        clientSecret: "${OAUTH2_PROXY_CLIENT_SECRET}"
        oidcConfig:
          issuerURL: "https://login.microsoftonline.com/0bd8c7f7-2a0b-46b8-9b7d-934844b3dee7/v2.0"
        scope: "openid profile email"
        emailDomains:
          - "*"

    upstreams:
      - id: static
        uri: "static://200"

    sessionStorage:
      type: cookie