apiVersion: v1
kind: ConfigMap
metadata:
  name: oauth2-proxy-config
data:
  oauth2_proxy.cfg: |-
    provider = "entra-id"
    oidc_issuer_url = "https://login.microsoftonline.com/0bd8c7f7-2a0b-46b8-9b7d-934844b3dee7/v2.0"
    scope = "openid profile email"
    email_domains = "*"
    upstreams = ["static://200"]
    http_address = "0.0.0.0:4180"
    pass_authorization_header = false
    set_authorization_header = false
    pass_access_token = true
    cookie_secure = false