apiVersion: v1
kind: ConfigMap
metadata:
  name: oauth2-proxy-config
data:
  oauth2_proxy.cfg: |-
    provider = "entra-id"
    scope = "openid profile email"
    email_domains = "*"
    upstreams = ["static://200"]
    http_address = "0.0.0.0:4180"
    pass_authorization_header = false
    set_authorization_header = false
    pass_access_token = true
    cookie_secure = false