apiVersion: v1
kind: ConfigMap
metadata:
  name: oauth2-proxy-config
data:
  oauth2_proxy.cfg: |-
    scope = "openid profile email"
    email-domains = "*"
    upstreams = ["static://200"]
    http-address: "0.0.0.0:4180"
    pass-authorization-header: "false"
    set-authorization-header:: "false"
    pass-access-token:: "true"
    cookie-secure: "false"
    cookie-samesite:: "lax"
    cookie-refresh:: "1h"
    cookie-expire: "8h"
    skip-provider-button: "false"