apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: homepage
spec:
  entryPoints:
  - websecure
  tls:
    secretName: lab-lemisieur-com
  routes:
  - match: Host(`home.k8s.lab.lemisieur.com`) || Host(`home.lab.lemisieur.com`) ||  Host(`lab.lemisieur.com`)
    kind: Rule
    priority: 10
    services:
    - name: homepage
      port: 3000