apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: argocd-server
  namespace: argocd
spec:
  entryPoints:
  - websecure
  tls:
    secretName: traefik/k8s-lab-lemisieur-com
  routes:
  - match: Host(`argocd.k8s.lab.lemisieur.com`)
    kind: Rule
    priority: 10
    services:
    - name: argocd-server
      port: 80