name: Homepage - Deploy

on:
  push:
    branches:
      - main
    paths:
      - 'services/homepage/**'
      - '.github/workflows/homepage-deploy.yml'
  workflow_dispatch:

# Allow all permissions on the repository
permissions:
  contents: read
  packages: write
  actions: read
  security-events: write

env:
  NAS_MOUNT: /share/containers/homepage

jobs:
  push:
    name: Rsync file updates
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
    
      - name: Replace files
        run: |
          rm -rf ${{env.NAS_MOUNT}}/config/*.yaml ${{env.NAS_MOUNT}}/config/*.css ${{env.NAS_MOUNT}}/config/*.js
          rm -rf ${{env.NAS_MOUNT}}/icons/*
          cp -rf services/homepage/config/* ${{env.NAS_MOUNT}}/config || true
          cp -rf services/homepage/icons/* ${{env.NAS_MOUNT}}/icons || true
